/**
|| ALP BUTTONS
*/

.alp-button-group{
  display:flex;
  gap:0.5rem;
}

.alp-button {
  background-color: #49a94f;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition-property: border, background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

}

.alp-button:hover:not(:disabled) {
  background-color: #449d44;
  border-color: #419641;
  transition-property: border, background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

}

.alp-button:disabled{
  background-color: #49a94f;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  pointer-events: none;
  opacity:0.65;
}

.alp-button:focus-visible{
  outline: 6px solid #f6c754;
}
