
/* SECTION LINKS AND FILTER LINKS */

.alp-filters {
  margin-bottom: 1rem;
}

.alp-filters__tabs {
  display: flex;
  margin-bottom: 0.5rem;
}

.alp-filters__tab{
  margin-right: 0.2rem;
}

.alp-filters__tab-button {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.alp-filters__tab-button-text {
  color: rgb(24, 110, 204);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
  position: relative;
}

.alp-filters__tab-button-text:hover {
  background-color: rgba(133, 178, 226, 0.1);
  border-bottom: 4px solid rgba(133, 178, 226, 0);
}

.selected > .alp-filters__tab-button-text{
  border-color: rgba(60, 73, 129, 1);
  border-bottom: 4px solid rgba(133, 178, 226, 1);
  color: rgba(60, 73, 129, 1);
  font-weight: 700;
}

.alp-filters__range-selection{
  display:flex;
  gap:0.5rem;
}

.alp-filters__range-dropdown {
  padding: 0.2rem 0.4rem 0.4rem 0.4rem;
  color: rgb(24, 110, 204);
  border-radius: 0.25rem;
  font-weight: bold;
  min-width:150px;
}

.consumerDataMatched {
  color: rgba(60, 73, 129, 1);
}

.consumerDataNotMatched {
  color: darkgray;
}

.count-flag {
  padding-left: 3px;
}
