        <div class="content-section">
            <!-- ===== STEP 3 of 5: CONTACT INFORMATION ===== -->
            <div onclick="sidebarStep(this)" class="content-section-header ui-app-header-contact-info">
                <span class="step-number">3</span>Confirm Contact Information<i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="content-section-body overlay--local-anchor ux-contact-information-example-container">

                <section>
                    <div class="card check-contact-info-card">
                        <div class="card-header">Check Contact Information for Mr Joe Bloggs - Policy Holder
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <ul class="alpha-linked-data-structure contact-information-tiles">
                                            <li>


                                                <div class="multi-action-tile contact-info-tile example-current-tile">
                                                    <div class="action-container">



                                                        <button type="button" class="action--select " style="
                                    min-width: 190px;
                                ">
                                                            <span class="tile--data">Daytime Telephone Number:</span>
                                                            <span class="tile--data-strong tile--spacer">07456789999
                                                            </span>
                                                            <span class="tile--data time-stamp">
                                                                <span class="tile--data time-stamp-label">Last
                                                                    Updated:</span>
                                                                <span class="tile--data tile--spacer time-stamp-detail">10
                                                                    Mar 2018</span>
                                                            </span>



                                                        </button>



                                                        <div class="flex-actions">
                                                            <button type="button" class="action--view contact-action--update" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-01"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Update</button>
                                                            <button type="button" class="action--view contact-action"> <i class="fa fa-archive" aria-hidden="true"></i> Archive</button>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="multi-action-tile contact-info-tile example-updated-tile">
                                                    <div class="action-container">



                                                        <button type="button" class="action--select " style="
                                    min-width: 190px;
                                ">
                                                            <span class="tile--data">Daytime Telephone Number:</span>
                                                            <span class="tile--data-strong tile--spacer">07555666777
                                                            </span>

                                                            <span class="tile--data time-stamp updated">
                                                                <span class="tile--data time-stamp-label">Last
                                                                    Updated:</span>
                                                                <span class="tile--data tile--spacer time-stamp-detail">16
                                                                    Nov 2018</span>
                                                            </span>



                                                        </button>



                                                        <div class="flex-actions">
                                                            <button type="button" class="action--view contact-action--update" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-01"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Update</button>
                                                            <button type="button" class="action--view contact-action"> <i class="fa fa-archive" aria-hidden="true"></i> Archive</button>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="multi-action-tile contact-info-tile">
                                                    <div class="action-container">



                                                        <button type="button" class="action--select " style="
                                    min-width: 190px;
                                ">
                                                            <span class="tile--data"></span>
                                                            <span class="tile--data-strong tile--spacer terminated">No
                                                                Home Number Stored </span>





                                                        </button>



                                                        <div class="flex-actions">
                                                            <button type="button" class="action--single contact-action--add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>

                                                        </div>

                                                        <div class="flex-actions" style="
                                    display: none;
                                ">
                                                            <button type="button" class="contact-action--add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                                            <button type="button" class="action--view contact-action" style="
                                    /* min-width: 190px; */
                                    color: #ccc;
                                    border-color: #ccc;
                                    pointer-events: none;
                                    cursor: not-allowed;
                                "> <i class="fa fa-archive" aria-hidden="true"></i> Archive</button>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="multi-action-tile contact-info-tile">
                                                    <div class="action-container">



                                                        <button type="button" class="action--select " style="
                                    /* width: 100%; */
                                    min-width: 190px;
                                    display: flex;
                                    flex: 1;
                                    /* max-width: 100%; */
                                ">
                                                            <span class="tile--data">Email:</span>
                                                            <span class="tile--data-strong tile--spacer">Joe.B@lorumipsum.com</span>

                                                            <span class="tile--data time-stamp">
                                                                <span class="tile--data time-stamp-label">Last
                                                                    Updated:</span>
                                                                <span class="tile--data tile--spacer time-stamp-detail">10
                                                                    Mar 2018</span>
                                                            </span>



                                                        </button>



                                                        <div class="flex-actions">
                                                            <button type="button" class="action--view contact-action--update"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Update</button>
                                                            <button type="button" class="action--view contact-action"> <i class="fa fa-archive" aria-hidden="true"></i> Archive</button>
                                                        </div>

                                                    </div>


                                                </div>
                                            </li>

                                        </ul>





                                    </div>


                                </div>

                                <div class="row hide-from-tile ">
                                    <div class="col">
                                        <div class="form-group form-content-center">
                                            <button class="ui-btn fill-space" onclick="toggleAppStep('.ui-app-header-contact-info','.ui-app-header-call-info');">  Continue Call Journey  <i class="fa fa-check" aria-hidden="true"></i></button>

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="capture-adcditional-details show-form" style="
                                    display: none;
                                ">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Caller Contact Number</label>
                                            <div alpha-ui="repeating-detail-block" alpha-ui-theme="contact-numbers-block" class="select-input-btn-join hide-from-tile alpha-create-detail-block">
                                                <select class="form-control ng-untouched ng-pristine ng-valid ">
                                                    <option value="Home">Home</option>
                                                    <option value="Mobile">Mobile</option>
                                                    <option value="Work">Work</option>
                                                    <option value="Day">Day</option>
                                                    <option value="Other1">Other 1</option>
                                                    <option value="Other2">Other 2</option>
                                                </select>
                                                <span class="form-field-value"> </span>
                                                <input class="form-control ng-untouched ng-pristine ng-valid" type="text" placeholder="Enter a Phone Number."><span class="form-field-value"> </span>
                                                <button class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                            </div><ul class="contact-numbers-block"></ul>
                                            <ul class="contact-numbers-block"></ul>
                                          

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div>
                                                <input class="form-control ng-untouched ng-pristine ng-valid" type="email" placeholder="Enter Caller Email"><span class="form-field-value"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="overlay--local-container ux-example-update01">
                    <div class="card">
                        <h3>Update: Day Number</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">

                                    <p class="tile--spacer" style="
                                    border-top: 1px dashed #999;
                                ">Currently Stored: 07456789999 </p>
                                    <input class="form-control ng-untouched ng-pristine ng-valid" type="text" placeholder="Enter a Phone Number.">
                                    <div class="select-input-btn-join hide-from-tile alpha-create-detail-block" style="
                                    display: none;
                                ">
                                        <button class="btn btn-danger" type="button">Cancel</button>

                                        <span class="form-field-value"> </span>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" type="text" placeholder="Enter a Phone Number."><span class="form-field-value"> </span>
                                        <button class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                    </div>

                                    <div class="action-container text-center ">
                                        <button class="btn btn-danger" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-01">Cancel</button>

                                        <button class="btn btn btn-success" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-01|show-example-02">Update
                                            Details</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="overlay--local-container ux-example-update02">
                    <div class="card">
                        <h3>Confirm Update: Day Number</h3>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">

                                    <p class="tile--spacer" style="
                                    border-top: 1px dashed #999;
                                ">Confirm Details before they are stored: </p>
                                    <div class="data-block--confirm-change-vertical">
                                        <span class="data-current-value"> 07456789999 </span>
                                        <span class="data-change-icon-container">
                                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                        </span>
                                        <span class="data-change-value">07555666777 </span>
                                    </div>

                                    <div alpha-ui="repeating-detail-block" alpha-ui-theme="contact-numbers-block" class="select-input-btn-join hide-from-tile alpha-create-detail-block" style="
                                    display: none;
                                ">
                                        <button class="btn btn-danger" type="button">Cancel</button>

                                        <span class="form-field-value"> </span>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" type="text" placeholder="Enter a Phone Number."><span class="form-field-value"> </span>
                                        <button class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                    </div><ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>
                                    <ul class="contact-numbers-block"></ul>


                                    <div class="action-container text-center ">
                                        <button class="btn btn-danger" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-02">Cancel</button>

                                        <button class="btn btn btn-success" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".ux-contact-information-example-container ,show-example-02|show-example-03">Confirm
                                            and Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

