
                    <div class="card">
                        <div class="card-header">Call Information</div>
                        <div>
                            <div class="card-block">
                                <!-- <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Reason For Calling?</label>
                                            <div>
                                                <select alpha-ui-event="change" alpha-ui-value-check="required" alpha-ui-attr-toggle=".additional-info,field-required" class="form-control">
                                                    <option value="">01: Reason 1</option>
                                                    <option value="">02: Reason 2</option>
                                                    <option value="">03: Reason 3</option>
                                                    <option value="">04: Reason 4</option>
                                                    <option value="">05: Reason 5</option>
                                                    <option value="">06: Reason 6</option>
                                                    <option value="">07: Reason 7</option>
                                                    <option value="">08: Reason 8</option>
                                                    <option value="">09: Reason 9</option>
                                                    <option value="">10: Reason 10</option>
                                                    <option value="">11: Reason 11</option>
                                                    <option value="">12: Reason 12</option>
                                                    <option value="">13: Reason 13</option>
                                                    <option value="">14: Reason 14</option>
                                                    <option value="">15: Reason 15</option>
                                                    <option value="">16: Reason 16</option>
                                                    <option value="">17: Reason 17</option>
                                                    <option value="">18: Reason 18</option>
                                                    <option value="">19: Reason 19</option>
                                                    <option value="required">20: Reason 20</option>
                                                </select><span class="form-field-value"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group additional-info">
                                            <label>Additional Informtion (Optional)</label>
                                            <!---->
                                            <div>
                                                <b><textarea></textarea></b>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="action-container text-center ">
                                <button class="btn btn-danger" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".call-info-action-container ,show-call-information-options">Cancel</button>

                                <button class="btn btn btn-success" type="button" alpha-ui-event="click" alpha-ui-attr-toggle=".call-info-action-container ,show-call-information-options|show-added-call-info">Update
                                    Details</button>
                            </div>
                        </div>
                    </div>




