
/* Application Theme: */
/* ----------------------------------------- */


.ui-app-theme--dark {}

/* Header */

.ui-app-theme--dark .app-header {
    background-color:#e4e4e4;
    background-color:#32363f;
    border-color: rgba(65, 74, 103, 0.6);
}

.ui-app-theme--dark .app-system-date--label{
    color: #acadaf;
}

.ui-app-theme--dark .app-header .app-system-date {  
    color:#222;
    color:#fff;
}

.ui-app-theme--dark .app-header button.app-notifications--bell {
    border-color:#909091;
    color:#adadaf;
    background-color: #3e4048;
}

/* Header / Branding Block */
.ui-app-theme--dark .app-header .app-branding--block {
    background-color:transparent;
    background-color:#24262a;
    border-right: 2px solid #2c2d31;
}

.ui-app-theme--dark .app-header .app-branding--block > img{
     mix-blend-mode: exclusion;
}

/* Breadcrumb Bar */

.ui-app-theme--dark .app-navigation--breadcrumbs li{
    color:#4e8cea;
}

.ui-app-theme--dark .app-navigation--breadcrumbs li:before{
    color:#a0a4ab;
}

/* Context Bar */

.ui-app-theme--dark .app-header .app-page--heading h1{
    color:#222;
    color:#f9f9f9;
}

.ui-app-theme--dark .app-header .context-info {
    color:#222
    color:#fff;
}

/* Main */

.ui-app-theme--dark alpha-group-summary {
    background-color: #e3e7ed;
    background: linear-gradient(-35deg, rgb(17, 18, 21) 0%, #3f414a 71%, rgb(42, 47, 51) 100%);
    height: 100%;
}

/* Group Summary Headers */

.ui-app-theme--dark .ui-diagram-header{
    border-color:#646e7b;
    color:#fff;
}

.ui-app-theme--dark .ui-filter-description-row{
    border-bottom-color:transparent;
}

.ui-app-theme--dark .ui-diagram-col.ui-policies .ui-diagram-content{
    border-color:#646e7b;
}

.ui-app-theme--dark .ui-policy-row:before{
    color:#646e7b;
}

/* Group Summary Filter */

.ui-app-theme--dark .ui-filter-actions-container.ui-group-summary-filter{
    background-color:transparent;
}

/* Toolbar Explorer - Rail Menu */

.ui-app-theme--dark .ui-action-rail {
    width: 60px;
    background:#24262a;
    border-right: 2px solid #2c2d31;
    z-index: 2;
}


/* Toolbar Explorer - Rail Menu - Buttons  */

.ui-app-theme--dark .alpha-explorer-toolbar .ui-menu-action-block button.ui-menu-action{
    background-color:transparent;
}

.ui-app-theme--dark .alpha-explorer-toolbar .ui-menu-action-block button.ui-menu-action .details{

}

/*  Widget App Dock  - Rail Menu */

.ui-app-theme--dark .ui-extensions--rail{
    background:#32373f;
    border-left-color: #565c6d;
}

/* Widget App Dock */

.ui-app-theme--dark h2.sidebar-content-heading{
    color:#fff;
}

.ui-app-theme--dark alpha-right-sidebar{
    border-color:#53586d;
}

.ui-app-theme--dark alpha-right-sidebar ul.widget-selection, 
.ui-app-theme--dark  .alpha-right-sidebar ul.widget-selection{
    background: linear-gradient(-25deg, rgb(17, 18, 21) 0%, #3f414a 71%, rgb(42, 47, 51) 100%);
    border-color:#53586d;
}

.ui-app-theme--dark .ui-app--widget-content{
    background-color:#3d4451;
}


/* UI Long Tiles */

.ui-app-theme--dark .ui-policy-details, 
.ui-app-theme--dark .ui-row-details{
    background-color:#4c505d;
    color:#fff;
}

.ui-app-theme--dark button.ui-policy-open, 
.ui-app-theme--dark button.ui-row-open{
    background-color:#4c505d;
    border-left:0;
    
}

.ui-app-theme--dark button.ui-policy-open i, 
.ui-app-theme--dark button.ui-row-open i{
    color:#97c0ff;
}

.ui-app-theme--dark .ui-policy-details .tile--data-block,
.ui-app-theme--dark .ui-row-details .tile--data-block  {
    color:#fff;
}

.ui-app-theme--dark .ui-policy-details .tile--data-heading,
.ui-app-theme--dark .ui-row-details .tile--data-heading {}

.ui-app-theme--dark .ui-policy-details .tile--data,
.ui-app-theme--dark .ui-row-details .tile--data {

}

/* UI Long Tiles - States: Hover */

.ui-app-theme--dark .ui-policy-tile--long button.ui-row-tile-action:hover, 
.ui-app-theme--dark .ui-row-details button.ui-row-tile-action:hover{
    background-color:#5c6b80;
}

.ui-app-theme--dark .ui-policy-tile--long button.ui-policy-open:hover, 
.ui-app-theme--dark .ui-policy-tile--long button.ui-row-open:hover {
    background-color:#5c6b80;
}

.ui-app-theme--dark .ui-policy-tile--long button.ui-row-tile-action.alpha-selected, 
.ui-app-theme--dark .ui-policy-tile--long button.ui-row-tile-action.alpha-selected:hover, 
.ui-app-theme--dark .ui-row-details button.ui-row-tile-action.alpha-selected, 
.ui-app-theme--dark .ui-row-details button.ui-row-tile-action.alpha-selected:hover{
    background-color:#729ac4;
}

/* UI Button Tiles */

.ui-app-theme--dark .multi-action-tile .action-container > [class^="action"]{
    background-color:#4c505d;
    color:#fff;
}

/* UI Buttons - State: Hover */
.ui-app-theme--dark .multi-action-tile .action-container > [class^="action"]:hover{
    background-color:#5c6b80;
}

/* UI Buttons - State: Selected */
.ui-app-theme--dark .multi-action-tile .action-container > button.alpha-selected:hover, 
.ui-app-theme--dark .multi-action-tile .action-container > button.alpha-selected, 
.ui-app-theme--dark .multi-action-tile .action-container > button.alpha-selected .tile--address-status{
    background-color:#729ac4;
}


/* UI Multi-State Buttons */

.ui-app-theme--dark .ui-button--multi-state button.ui-button, 
.ui-app-theme--dark ul.alpha-linked-data-structure li .ui-button--multi-state button.ui-button{
    background-color:#4c505d;
    color:#fff;
}

.ui-app-theme--dark .ui-filter-actions-container.ui-group-summary-filter .ui-filter-count,
.ui-app-theme--dark  .ui-filter-count{
    color:#fff !important;
}

.ui-app-theme--dark .ui-filter-actions-container.ui-group-summary-filter .ui-filter-count i,
.ui-app-theme--dark .ui-filter-count i{
    color:#a5bee3 !important;
}

/* UI Multi-State Buttons  - State: Hover */
.ui-app-theme--dark .ui-button--multi-state button.ui-button:hover, 
.ui-app-theme--dark ul.alpha-linked-data-structure li .ui-button--multi-state button.ui-button:hover{
    background-color:#5c6b80;
}


/* UI Widget Tiles */

.ui-app-theme--dark  alpha-right-sidebar ul li.widget-tile {
    background-color:#4c505d;
    color: #dce8f9;
}

.ui-app-theme--dark  .widget-tile .widget-title:hover{
    background-color:#5c6b80;
}

/* UI Widget Tiles State: Hover */

.ui-app-theme--dark .widget-tile .widget-title:hover:before, 
.ui-app-theme--dark .widget-tile .widget-title:hover:after{
    color:#fff;
}

.ui-app-theme--dark .add-shortcut:hover{
    background-color:#5c6b80;
}

/* UI Preference Dashboard */

.ui-app-theme--dark  .ui-preference-dashboard {
    background-color:#3a3d46;
    color:rgb(222, 237, 255);
}

.ui-app-theme--dark .ui-preference-dashboard .ui-preference-block{
    background-color:rgba(34, 34, 34, 0.4);
    border-color:rgba(164, 194, 241, 0.2);
}

.ui-app-theme--dark .ui-preference-dashboard .tile--data-presentation-icon{
    background-color:#56565d;
    color:rgb(224, 233, 244);
}

/* UI Indicators - Counts */

.ui-app-theme--dark .indicator.party-count, .ui-data-indicator.party-count{
    background-color:rgba(58, 61, 70, 0.2);
    border-color:rgba(255, 255, 255, 0.3);
    color:#fff;
}

.ui-app-theme--dark .indicator.party-count .ui-text, 
.ui-app-theme--dark .ui-data-indicator.party-count .ui-text{
    color: #ffffff;
}

.ui-app-theme--dark .indicator.party-count .ui-data-value, 
.ui-app-theme--dark .ui-data-indicator.party-count .ui-data-value{
    color: #c6daf7;
}


/* UI Address Details */

.ui-app-theme--dark .tile-row-address .ui-tile-address-block .tile--address-details{
     background-color:rgba(58, 61, 70, 0.2);
    border-color:rgba(255, 255, 255, 0.3);
    color:#fff;
}

/* UI Indicators - Count Orbs */

.ui-app-theme--dark .ui-count-bubble{
    background-color:rgb(87, 92, 107);
    border-color:rgb(116, 128, 150);
    color:#fff;
}


/* Application Theme - Dark - Claims Add on*/

.ui-app-theme--dark ul.section-links > li .alpha-section-btn > span{
    text-shadow:none;
    color:#a8ccf0;
}

.ui-app-theme--dark  ul.section-links > li .alpha-section-btn.selected > span{
    border-color:#a8ccf0;
}

.ui-app-theme--dark .ag-fresh .ag-header, 
.ui-app-theme--dark .table.table-striped th{
    background:#4e5568;
    color: #fff;
}

.ui-app-theme--dark .table.table-striped{
    color:#fff;
    border-color: #485680;
}


.ui-app-theme--dark .table th, 
.ui-app-theme--dark .table td{
    border-color: #5a6892;
}

.ui-app-theme--dark .table-striped tbody tr:nth-of-type(odd), 
.ui-app-theme--dark .ag-fresh .ag-row-odd, .ag-fresh .ag-row-even{
    border-color: #5a6892;
}