        <div class="content-section">
            <!-- ===== STEP 5 of 5: REVIEW / CALL SUMMARY ===== -->
            <div class="content-section-header ui-app-header-review" onclick="sidebarStep(this)">
                <span class="step-number">5</span>Review &amp; Save<i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="content-section-body overlay--local-anchor call-info-action-survey-container">
                <section>
                    <div class="card">
                        <div class="card-header">Review Captured Call Details</div>
                        <div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col">
                                        <p>Caller Details:
                                            <!--2-->
                                        </p>
                                        <p class="margin-bottom-15"><b>Mr Joe Bloggs - Policy Holder</b></p>
                                        <p style="
                                    display: none;
                                ">Policies:</p>
                                        <div class="call-policies margin-bottom-15" style="
                                    display: none;
                                ">
                                            <p><strong>{{ ctx.policy()?.number }} <span class="text--success">(DPA Passed <i class="fa fa-check" aria-hidden="true"></i>)</span></strong></p>
                                        </div>
                                        <!-- <p>Contact Information Changes:</p> -->
                                        <!-- <p><strong style="
                                    color: #49a94f;
                                ">Day Number Updated</strong></p> -->

                                        <!-- <div class="data-block--confirm-change-vertical review-block margin-bottom-15">
                                            <span class="data-current-value"> 07456789999 </span>
                                            <span class="data-change-icon-container">
                                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                            </span>
                                            <span class="data-change-value">07555666777 </span>
                                        </div> -->



                                        <section class="review-actions-block">
                                            <h2 class="margin-top-15"><strong>Actions</strong></h2>
                                           
                                            <div class="policy-review-block">
                                                <span class="tile--data-heading">Policy:</span>

                                                <span class="tile--data-strong tile--spacer"> {{ ctx.policy()?.number }} <span class="text--success">(DPA Passed <i class="fa fa-check" aria-hidden="true"></i>)</span></span>


                                                <span class="tile--data-heading">Call Details:</span>
                                                <span class="tile--data-strong tile--spacer">Full Policy Details</span>
                                             
                                                <span class="tile--data-heading">Action Taken:</span>
                                                <span class="tile--data-strong">Full Policy Details </span>
                                            </div>


                                            <div class="ui-pension-guidance-container margin-top-15 guidance-review-block ux-hide">
                                              <h2 class="margin-bottom-10"><strong>Guidance Details</strong></h2>

                                              <div class="multi-action-tile tile--size-w-lrg"> 
                                                  <div class="action-container">
                                                      
                                                      <button class="action--single state--ui-default ui-disabled-with-state">
                          
                                                          
                                                          <img class="ui-logo--pension-wise margin-top-10 margin-bottom-15" src="Images/pension-wise-logo.png" alt="Pension Wise">
          
          
                                                          <span class="tile--data-heading">Guidance Type</span>
                                                          <span class="tile--data-strong tile--spacer">Appointment</span>
          
                                                          <span class="tile--data-heading">Appointment Date/Time</span>
                                                          <span class="tile--data-strong tile--spacer">14 Jan 2022 (9:00am)</span>
          
                                                          <span class="tile--data-heading">Contact Regarding</span>
                                                          <span class="tile--data-strong tile--spacer">Transfers Out</span>
          
                                                          <span class="tile--data-heading">Created By</span>
                                                          <!-- <span class="tile--data-strong tile--spacer">ReAssure</span> -->
                                                          <span class="tile--data-strong tile--spacer">Jonathan Burns</span>
                                                         
          
                                                          <!-- <span class="tile--data-heading">Created Date/Time</span>
                                                          <span class="tile--data-strong tile--spacer">09 Dec 2021 (11:02)</span> -->
          
                                                          <span class="tile--data-heading">Contact Channel</span>
                                                          <span class="tile--data-strong tile--spacer">Phone</span>
          
                                                         
                                                      </button>
          
                                                      
          
                                                      
          
                                                  </div>
                                              </div>

                                            </div> 






                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


    
             

                <section>
                    <div class="card">
                        <div class="card-header">Finish &amp; Save</div>
                        <div>
                            <div class="card-block">
                                
                              <div class="notification-block status-warning">
                                  <div class="notification-message"><p>Don't forget to log a VOD/Complaint or send a CSAT if appropriate</p></div>
                              </div>
                         
                                <div class="row hide-from-tile mt-20">
                                    <div class="col">
                                        <div class="form-group form-content-center">

                                          <button class="ui-btn"> Bailout <i aria-hidden="true" class="fas fa-exclamation-triangle"></i></button>
                                            <button class="btn btn-success ui-btn-finish-save">Finish &amp; Save <i class="fa fa-check" aria-hidden="true"></i></button>
                                            <button class="btn btn-danger">Clear &amp; Restart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

          

             



            </div>
        </div>
