                                                                    <div class="content-section">
                                                                        <!-- ============================================================
                                                                             STEP 1 of 5: CALLER DETAILS
                                                                             Steps are opened/closed by jQuery (sidebarStep) and advanced
                                                                             by toggleAppStep('.from','.to') in prototype-interactions.js.
                                                                             ============================================================ -->
                                                                        <div onclick="sidebarStep(this)" class="ui-app-header-caller content-section-header step-open">
                                                                            <span class="step-number">1
                                                                            </span>Capture Caller Details

                                                                            <span class="header-step--summary">
                                                                                Policy <strong>80007 </strong> |
                                                                                Mr Joe Bloggs</span>
                                                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                                        </div>
                                                                        <div class="content-section-body">


                                                                            <section>
                                                                                <div class="card reference-numbers-card">
                                                                                    <div class="card-header">
                                                                                        Reference Numbers </div>
                                                                                    <div class="card-block">
                                                                                        <div class="row">
                                                                                            <div class="col">
                                                                                                <div class="form-group">
                                                                                                    <div class="row">
                                                                                                        <div class="col">
                                                                                                            <alpha-dynamic>
                                                                                                            </alpha-dynamic>
                                                                                                            <alpha-search-field>
                                                                <li class="alpha-accordion-parent" routerlinkactive="alpha-selected" alpha-data-inspector="has-data">

                                                                    <ul class="alpha-accordion-children">
                                                                        <li>
                                                                            <div class="container-fluid toolbar-searchform">
                                                                                <form class="primary-field" novalidate="">
                                                                                    <div class="form-group search--input-search-criteria search--inline-control">
                                                                                        <label for="searchCriteria">Search
                                                                                            Criteria</label>
                                                                                        <select class="form-control" formcontrolname="searchCriteria" id="PolicySearch_SearchCriteria">
                                                                                            
                                                                                            <option value="Policy">
                                                                                                Policy</option>
                                                                                            <option value="Agent">
                                                                                                Agent</option>
                                                                                            <option value="Client">
                                                                                                Client</option>
                                                                                            <option value="Company">
                                                                                                Company</option>
                                                                                            <option value="Other">
                                                                                                Other</option>
                                                                                            <option value="Unallocated Payment">
                                                                                                Unallocated
                                                                                                Payment</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-group search--input-reference-number search--inline-control">
                                                                                        <label for="PolicySearch_ReferenceNumber">Reference
                                                                                            Number</label>
                                                                                        <input autocomplete="off" autofocus="" class="form-control" formcontrolname="referenceNumber" id="PolicySearch_ReferenceNumber" name="referenceNumber" style="text-transform: capitalize" type="input" value="80007" placeholder="Enter Policy Number">
                                                                                    </div>
                                                                                    <div>
                                                                                        <div class="row form-group" hidden="">
                                                                                            <div class="search--input-grow remove-padding-right col-md-12" hidden="">
                                                                                                <label for="searchCriteria">Surname</label>
                                                                                                <input class="form-control" formcontrolname="surname" id="PolicySearch_Surname" name="surname" placeholder="Enter Surname" type="input">
                                                                                            </div>
                                                                                            
                                                                                            <div class="search--input-compact col-md-12" hidden="">
                                                                                                <label for="searchCriteria" style="white-space: nowrap;">Sounds
                                                                                                    Like?</label>
                                                                                                <label class="switch switch-left-right">
                                                                                                    <input class="switch-input" formcontrolname="soundsLike" id="PolicySearch_soundsLike" type="checkbox">
                                                                                                    <span class="switch-label" data-off="Off" data-on="On"></span>
                                                                                                    <span class="switch-handle"></span>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        <div class="row form-group search--date-selection search--inline-control" hidden="">
                                                                                            <div class="col-md-12">
                                                                                                <label for="effectiveDate">Effective
                                                                                                    Date</label>
                                                                                                <input class="date-input-padding" formcontrolname="effectiveDate" id="EffectiveDate_DatePicker" matinput="" maxlength="11" name="EffectiveDate_DatePicker" placeholder="DD/MM/YYYY" style="line-height: 2; width: 78%" aria-haspopup="true" max="2018-09-03">
                                                                                                <mat-datepicker-toggle class="mat-datepicker-toggle" matsuffix="">
                                                                                                    <button mat-icon-button="" type="button" class="mat-icon-button" aria-label="Open calendar"><span class="mat-button-wrapper">
                                                                                                            <svg class="mat-datepicker-toggle-default-icon" fill="currentColor" focusable="false" height="24px" viewBox="0 0 24 24" width="24px">
                                                                                                                <path d="M0 0h24v24H0z" fill="none">
                                                                                                                </path>
                                                                                                                <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                                                                                                                </path>
                                                                                                            </svg>
                                                                                                        </span>
                                                                                                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
                                                                                                        </div>
                                                                                                        <div class="mat-button-focus-overlay">
                                                                                                        </div>
                                                                                                    </button>
                                                                                                </mat-datepicker-toggle>
                                                                                                <mat-datepicker>
                                                                                                </mat-datepicker>
                                                                                                
                                                                                                
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <button class="btn btn-success full-width ui-btn--main-search" type="submit">Search</button>
                                                                                    <button class="btn btn-danger" id="PolicySearch_ClearButton" style="width: 30%" type="button" hidden="">Clear</button>
                                                                                </form>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                </alpha-search-field>
                                                                <ul class="reference-numbers-btn alp-recent-callers__list">
                                                                    
                                                                    <li class="detail-block-item selected-policy" style="margin-top:0;">
                                                                        
                                                                        <span class="item-info-1" style="padding:15px;text-align: center;">80007</span>
                                                                        <button class="remove"><i aria-hidden="true" class="fa fa-times"></i></button>
                                                                        <span class="policy-summay-nav">View
                                                                            Summary</span>
                                                                    </li>

                                                                    <li class="alp-recent-callers__item">
                                                                        <!-- Recent Callers Component -->
                                                                        <alpha-recent-callers (callerSelected)="callerSelector.onRecentCallerSelected($event)">
                                                                        </alpha-recent-callers>
                                                                    </li>
                                                    
                                                                </ul>


                                                                <!-- Transfer Call button -->
                                                                <button type="button" class="alp-transfer-call-btn" (click)="showTransferPopover = true">
                                                                    <i class="fas fa-exchange-alt"></i> Transfer Call
                                                                </button>


                                                                
                                                                <!-- The new popover -->
                                                                @if (showTransferPopover) {
                                                                    <alpha-transfer-call-popover (transfer)="handleTransferCall($event)" (close)="showTransferPopover = false">
                                                                    </alpha-transfer-call-popover>
                                                                }

                                                                 
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>
            </section>


            <section hidden>
                <div class="card caller-details-card">
                    <div class="card-header">Caller Details </div>
                    <div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Who's Calling?</label>
                                        <div>
                                            <!-- alpha-ui-event="change" alpha-ui-value-check="other,policyholder" alpha-ui-attr-toggle=".other-caller-options,show-form" -->
                                            <select alpha-ui-event="change" alpha-ui-match-selected="other|.ui-btn-caller-details-done|ui-disabled" class="form-control">
                                                <option value="">Please Select the Caller Details</option>
                                                <option value="policyholder">Mr Joe Bloggs - Policy Holder, Life 1</option>
                                                <option value="1: Receiving Scheme"> Receiving Scheme </option>
                                                <option value="2: Third Party"> Third Party </option>
                                                <option value="3: Scheme or Ingenium Trust"> Scheme or Ingenium Trust </option>
                                                <option value="4: Death Notification"> Death Notification </option>
                                                <option value="5: Minimum Enquiry Policy"> Minimum Enquiry Policy </option>
                                                <option value="6: Other"> Other </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row other-caller-options">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Other Caller Information</label>
                                        <div>
                                            <input class="form-control" type="text" placeholder="Enter person/company name and relationship to policy"><span class="form-field-value"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hide-from-tile">
                                <div class="col">
                                    <div class="form-group form-content-center flex-content">
                                        <button data-cy="caller-details-bailout" class="ui-btn fill-space"> Bailout <i aria-hidden="true" class="fas fa-exclamation-triangle"></i></button>
                                        <button class="ui-btn fill-space ui-btn-caller-details-done ui-disabled" onclick="toggleAppStep('.ui-app-header-caller','.ui-app-header-dpa');"> Done <i class="fa fa-check" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Caller Selector -->
            <alpha-caller-selector #callerSelector></alpha-caller-selector>

            <!-- CALL-REP-SCRIPTS -->

            

            <section hidden>
            <div class="card caller-details-card">
              <div class="card-header">Caller Details</div>
              <div class="card-block">
                <div class="ui-xcorrespondence-creation-set-up ux-example-01">
                  <div class="ui-work-items caller-selection-row">
                    <div class="multi-action-tile tile--default tile--size-w-med">
                      <div class="action-container">
                        <button type="button" class="action state--ui-active"><span class="tile--data-strong"><span class="tile--role-type">Policy Holder, Life 1, Payer</span></span><span class="tile--data tile--spacer">Mr Joe Bloggs</span><span data-toggle="tooltip" class="tile--data-strong">Prime Minister</span><span data-toggle="tooltip" class="tile--data-strong">Durham</span><span data-toggle="tooltip" class="tile--data-strong">Fox Road</span><span data-toggle="tooltip" class="tile--data-strong">BA3 8SX</span></button><button class="action"><div class="margin-bottom-10 margin-top-10"><strong><i class="fas fa-user-edit"></i> Edit Selection</strong></div></button>
                      </div>
                    </div>
                    <div class="vulnerability-carousel">
                      <div class="vulnerability-carousel-header">
                        <div class="ui-alpha-indicators">
                          <span class="indicator vulnerable">Extra Care Client</span></div>
                        <span class="vulnerability-counter">1 of 3</span>
                        
                      </div>
                      <div class="vulnerability-carousel-content">
                        <button class="prev ui-btn ui-btn--dot" disabled=""><i class="fas fa-chevron-left"></i></button>
                        
                        <div class="vulnerability-tile">
                          <div class="vulnerability-field">
                            <span class="field-label">Type:</span><span class="field-value">Health- Hearing</span>
                          </div>
                          <div class="vulnerability-field">
                            <span class="field-label">Notification:</span><span class="field-value">Phone</span>
                          </div>
                          <div class="vulnerability-field">
                            <span class="field-label">Date:</span><span class="field-value">21 Aug 2025</span>
                          </div>
                          <div class="vulnerability-field">
                            <span class="field-label">Helping Hand:</span><span class="field-value">Speak Slower / Louder</span>
                          </div>
                        </div>
                        <button class="ui-btn ui-btn--dot next"><i class="fas fa-chevron-right"></i></button>
                        
                      </div>
                    </div>
                    
                    
                    
                  </div>
                  
                  <div class="row other-caller-options">
                    <div class="col">
                      <div class="form-group">
                        
                        
                        
                        
                        
                        
                        <div>
                          <input type="text" placeholder="Enter person/company name and relationship to policy" class="form-control"><span class="form-field-value"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="row hide-from-tile">
                    <div class="col">
                      <div class="form-group form-content-center flex-content">
                        <button data-cy="caller-details-bailout" class="ui-btn" style="width: 40%;"> Bailout <i aria-hidden="true" class="fas fa-exclamation-triangle"></i></button><button onclick="toggleAppStep('.ui-app-header-caller','.ui-app-header-dpa');" data-cy="caller-details-done" class="ui-btn fill-space"> Continue Call Journey <i aria-hidden="true" class="fas fa-check"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

            <!-- WHO IS CALLING -->
            
        </div>
    </div>
